{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
 <div class="row">
        <div class="col s12 main-primary">
          <div class="section">
            <h4><a href="/post/32" class="red-text text-lighten-2">Trial teacher teacher movement practice.</a></h4>
            <p>
              Pattern five thus southern against let. Specific such believe. After him market smile. Cultural break
              conference future nature conference best tend. Situation effect respond think. Professional painting
              treatment already. Enjoy whole shoulder one...
              <small><a href="/post/32">Read More</a></small>
            </p>
            <small>
              Comments: <a href="/post/32#comments">7</a>&nbsp;&nbsp;
              Category: <a href="/category/8">performance</a>
              <span class="float-right"><span class="" data-timestamp="2018-12-24T12:58:04Z" data-format="format('LL')"
                  data-refresh="0" style="">December 24, 2018</span></span>
            </small>
          </div>
          <div class="divider"></div>
          <div class="section">
            <h4><a href="/post/32">Trial teacher teacher movement practice.</a></h4>
            <p>
              Pattern five thus southern against let. Specific such believe. After him market smile. Cultural break
              conference future nature conference best tend. Situation effect respond think. Professional painting
              treatment already. Enjoy whole shoulder one...
              <small><a href="/post/32">Read More</a></small>
            </p>
            <small>
              Comments: <a href="/post/32#comments">7</a>&nbsp;&nbsp;
              Category: <a href="/category/8">performance</a>
              <span class="float-right"><span class="" data-timestamp="2018-12-24T12:58:04Z" data-format="format('LL')"
                  data-refresh="0" style="">December 24, 2018</span></span>
            </small>
          </div>
          <div class="divider"></div>
          <div class="section">
            <h5><a href="/post/32">Trial teacher teacher movement practice.</a></h5>
            <p>
              Pattern five thus southern against let. Specific such believe. After him market smile. Cultural break
              conference future nature conference best tend. Situation effect respond think. Professional painting
              treatment already. Enjoy whole shoulder one...
              <small><a href="/post/32">Read More</a></small>
            </p>
            <small>
              Comments: <a href="/post/32#comments">7</a>&nbsp;&nbsp;
              Category: <a href="/category/8">performance</a>
              <span class="float-right"><span class="" data-timestamp="2018-12-24T12:58:04Z" data-format="format('LL')"
                  data-refresh="0" style="">December 24, 2018</span></span>
            </small>
          </div>
        </div>
      </div>
{% endblock %}