{% from "macros.html" import nav_link %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% block head %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="blog,python,flask">
  <meta name="description" content="Neko's blog">
  <title>{% block title %}{% endblock title %} - {{ admin.blog_title|default('Blog Title')}}</title>
  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/materialize.min.css') }}" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="{{ url_for('static', filename='css/style.css') }}" type="text/css" rel="stylesheet" media="screen,projection">
  {% endblock head %}
</head>

<body>
  {% block nav %}
  <header>
    <nav class="top-nav hide-on-large-only">
      <div class="container">
        <div class="nav-wrapper">
          <div class="row">
            <div class="col s12 m10 offset-m1">
              <h3 class="header">
                {%- if request.path=='/' %}Home{% else %}request.path{% endif -%}
              </h3>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <ul id="slide-out" class="sidenav sidenav-fixed collapsible">
      <li class="logo">
        <img class="responsive-img circle hvr-grow" src="{{ url_for('static', filename='profile_photo.jpg') }}" alt="Profile Photo">
      </li>
      <li class="blog_name center">
        <h3>{{ admin.blog_title|default('Blog Title')}}</h3>
      </li>
      {{ nav_link('blog.index', 'Home', 'home') }}
      <li class="category">
        <a class="waves-effect waves-teal collapsible-header"><i class="material-icons">list</i>Category</a>
        <div class="collapsible-body">
          <ul>
            {% for category in categories %}
            <li><a href="autocomplete.html">{{ category.name }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </li>
      {{ nav_link('blog.index', 'Post', 'description') }}
      {{ nav_link('blog.about', 'About', 'face') }}
      {{ nav_link('blog.index', 'Project', 'web') }}
      {{ nav_link('blog.index', 'Message Board', 'comment') }}
    </ul>

    <div class="container">
      <a href="#" data-target="slide-out" class="sidenav-trigger hide-on-large-only">
        <i class="material-icons">menu</i>
      </a>
    </div>
  </header>
  {% endblock nav %}

  <main>
    <div class="container">
      {% block content %}{% endblock content %}
    </div>
  </main>

  {% block footer %}
  <footer class="mini-footer center-align hide-on-large-only">
      <div class="container">
          <div class="col s12">
              <p>© 2019 Neko's Blog. Powered by
                <a class="grey-text text-darken-1" href="http://flask.pocoo.org/">Flask</a>. Style based on
                <a class="grey-text text-darken-1" href="http://materializecss.com/">Materialize</a>.
              </p>
          </div>
      </div>
  </footer>
  {% endblock footer %}
  {% block scripts %}
      <script src="{{ url_for('static', filename='js/jquery-2.1.1.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/init.js') }}"></script>
      {{ moment.include_moment(local_js=url_for('static', filename='js/moment.min.js')) }}
  {% endblock scripts %}
</body>

</html>